/* Login.css */

.loginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.google {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-with-google-btn {
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.login-with-google-btn:hover {
  background-color: #357ae8;
}
